*.o
bin/
config
man/
rc/rcmain
site/
vendor/9base-rc/lib9/lib9.a
vendor/9base-rc/rc/rc
vendor/9base-rc/rc/x.tab.h
vendor/9base-rc/rc/y.tab.c
vendor/9base-rc/rc/y.tab.h
vendor/9base-rc/yacc/yacc
vendor/cgd/cgd
vendor/mawk/Makefile
vendor/mawk/config.h
vendor/mawk/config.log
vendor/mawk/config.status
vendor/mawk/man/Makefile
vendor/mawk/man2html.tmp
vendor/mawk/mawk
vendor/mawk/scancode.c
vendor/yacc/Makefile
vendor/yacc/config.h
