site_title=kwerc
#debug=true       # enables the /debug page - insecure; disable in production!
#debug_shell=true # enables shell on /debug - insecure; disable in production!

#redis_host=127.0.0.1
#redis_port=6379
#redis_password=
